@font-face {
    font-family: KlavikaBold;
    src: url(./assets/fonts/KlavikaWebBasicBold.eot);
    src: url(./assets/fonts/KlavikaWebBasicBold.woff);
}
@font-face {
    font-family: KlavikaLight;
    src: url(./assets/fonts/KlavikaWebBasicLight.eot);
    src: url(./assets/fonts/KlavikaWebBasicLight.woff);
}
@font-face {
    font-family: KlavikaMedium;
    src: url(./assets/fonts/KlavikaWebBasicMedium.eot);
    src: url(./assets/fonts/KlavikaWebBasicMedium.woff);
}
@font-face {
    font-family: KlavikaRegular;
    src: url(./assets/fonts/KlavikaWebBasicRegular.eot);
    src: url(./assets/fonts/KlavikaWebBasicRegular.woff);
}

body {
    font-family: "KlavikaRegular", sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.col-1-12 {
    width: 8.33%;
}

.col-2-12 {
    width: 16.66%;
}

.col-3-12 {
    width: 25%;
}
.col-4-12 {
    width: 33.33%;
}
.col-5-12 {
    width: 41.66%;
}
.col-6-12 {
    width: 50%;
}
.col-7-12 {
    width: 58.33%;
}

.col-8-12 {
    width: 66.66%;
}

.col-9-12 {
    width: 75%;
}
.col-10-12 {
    width: 83.33%;
}
.col-11-12 {
    width: 91.66%;
}

.gray {
    color: #808080;
}

.offset-2-12 {
    padding-left: 16.66%;
}

.full-width {
    width: 100%;
}
/*==============================Menu================================*/
.blue-background {
    background-color: #1e9bd7;
}

.top-bar {
    margin-bottom: 2px;
}
.top-title {
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
}

.main-menu-container {
    padding: 15px 0;
    align-items: center;
}
.menu {
    margin-left: auto;
}

.menu li {
    display: inline-block;
    padding: 0 25px;
}

.menu a {
    font-family: "KlavikaMedium", sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 25px;
}

.search-icon {
    height: 30px;
    width: 30px;
    background: url(./assets/img/search.svg) no-repeat;
}

/*==============================Hero image and text================================*/

.hero-section {
    width: 100%;
    min-height: 800px;
    background-image: url(./assets/img/hero.jpg);
    color: #fff;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
    font-size: 12px;
    padding: 10px 0;
}

.hero-text {
    padding: 100px 0;
}

.hero-text header {
    text-transform: uppercase;
    font-family: "KlavikaMedium";
    font-size: 16px;
}

h1 {
    font-family: "KlavikaLight";
    font-size: 56px;
    font-weight: 500;
    margin: 20px 0;
}

.post-date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.post-tags {
    padding-top: 30px;
}

.tags {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: "KlavikaMedium";
    font-size: 11px;
    font-weight: 500;
    margin: 4px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.8px;
    display: inline-block;
}

.split {
    padding: 0 5px;
}

.tags:first-child {
    margin-left: 0;
}

/*==============================Blog text================================*/
main {
    padding-top: 100px;
}

.blogTextWrapper {
    padding-right: 60px;
}

h2 {
    font-family: "KlavikaMedium";
    font-size: 24px;
}

p {
    font-family: "Baskerville";
    font-size: 18px;
    line-height: 2em;
    text-align: left;
    margin-top: 0;
}

.standoutContainer {
    border: 1px solid #e2dfdf;
    padding: 0 23px;
    width: 300px;
    float: left;
    margin-right: 30px;
}

.standoutContainer h3 {
    font-family: "KlavikaBold";
    font-size: 15px;
    text-transform: uppercase;
    margin: 23px 0 10px;
}

.standoutContainer h4 {
    font-family: "KlavikaMedium";
    font-size: 15px;
    margin-right: 20px;
}

.separator {
    width: 300px;
    height: 1px;
    background-color: #e2dfdf;
}

.standoutContainer .row {
    height: 94px;
    align-items: center;
}

.thumb {
    height: 60px;
    width: 60px;
}

/*==============================Sidebar================================*/

h3 {
    font-family: "KlavikaBold";
    font-size: 15px;
    text-transform: uppercase;
}

h4 {
    font-family: "KlavikaBold";
    font-size: 15px;
}

h5 {
    font-family: "KlavikaRegular";
    font-size: 12px;
}

.downloadBtn {
    border: 1px solid #000;
    text-transform: uppercase;
    font-family: "KlavikaBold";
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    position: relative;
    width: 130px;
    text-align: left;
}

.downloadBtn img {
    height: 24px;
    display: inline;
    position: absolute;
    right: 5px;
    top: 7px;
}
.socialIcons {
    padding: 0;
}
.socialIcons li {
    list-style: none;
}

.icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-bottom: 1px solid #000;
    text-align: center;
    line-height: 50px;
}

/*==============================Footer================================*/

footer {
    color: #fff;
    padding: 30px;
}

footer .post {
    padding: 15px;
}

footer .post:first-child {
    padding-left: 0;
}

footer .post:last-child {
    padding-right: 0;
}

footer h4 {
    margin: 10px 0 20px;
    text-transform: uppercase;
    font-family: "KlavikaBold";
    font-size: 14px;
    font-weight: 500;
}

.imagePlaceholder {
    width: 100%;
    height: 200px;
    background-color: #ebebeb;
}

footer .post-title {
    font-family: "KlavikaLight";
    font-size: 19px;
    font-weight: 300;
    margin: 10px 0;
}

footer time {
    font-family: "KlavikaRegular";
    font-size: 12px;
    text-transform: uppercase;
}

/*==============================Media queries================================*/

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
