@font-face {
    font-family: KlavikaBold;
    src: url(./assets/fonts/KlavikaWebBasicBold.eot);
    src: url(./assets/fonts/KlavikaWebBasicBold.woff);
}
@font-face {
    font-family: KlavikaLight;
    src: url(./assets/fonts/KlavikaWebBasicLight.eot);
    src: url(./assets/fonts/KlavikaWebBasicLight.woff);
}
@font-face {
    font-family: KlavikaMedium;
    src: url(./assets/fonts/KlavikaWebBasicMedium.eot);
    src: url(./assets/fonts/KlavikaWebBasicMedium.woff);
}
@font-face {
    font-family: KlavikaRegular;
    src: url(./assets/fonts/KlavikaWebBasicRegular.eot);
    src: url(./assets/fonts/KlavikaWebBasicRegular.woff);
}

body {
    font-family: "KlavikaRegular", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.col-1-12 {
    width: 8.33%;
}
.col-2-12 {
    width: 16.66%;
}
.col-3-12 {
    width: 25%;
}
.col-4-12 {
    width: 33.33%;
}
.col-5-12 {
    width: 41.66%;
}
.col-6-12 {
    width: 50%;
}
.col-7-12 {
    width: 58.33%;
}
.col-8-12 {
    width: 66.66%;
}
.col-9-12 {
    width: 75%;
}
.col-10-12 {
    width: 83.33%;
}
.col-11-12 {
    width: 91.66%;
}

.gray {
    color: #808080;
}

.offset-2-12 {
    padding-left: 16.66%;
}

.relative-position {
    position: relative;
}

h1 {
    font-family: "KlavikaLight";
    font-size: 56px;
    font-weight: 500;
    margin: 20px 0;
}

h2 {
    font-family: "KlavikaMedium", sans-serif;
    font-size: 24px;
    margin-top: 2em;
}

h3 {
    font-family: "KlavikaBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

h4 {
    font-family: "KlavikaBold", sans-serif;
    font-size: 15px;
    margin: 20px 0 10px;
}

h5 {
    font-family: "KlavikaRegular", sans-serif;
    font-size: 12px;
    margin: 0;
    font-weight: 300;
}

/*==============================Menu================================*/

.menu {
    display: block;
}

#hamburger-icon {
    display: none;
}
.blue-background {
    background-color: #1e9bd7;
}

.top-bar {
    margin-bottom: 1px;
}

.top-title {
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
}

.main-menu-container {
    padding: 15px 0;
    align-items: center;
}

.menu {
    margin-left: auto;
    display: flex;
}

.menu li {
    display: inline-block;
    padding: 0 25px;
}

.menu a {
    font-family: "KlavikaMedium", sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 0;
    letter-spacing: 0.8px;
}

.menu a.active {
    border-bottom: 2px solid #fff;
}

.search-icon {
    height: 20px;
    width: 20px;
}

/*==============================Hero image and text================================*/

.hero-section {
    width: 100%;
    min-height: 800px;
    background-image: url(./assets/img/hero.jpg);
    color: #fff;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
    font-size: 12px;
    padding: 10px 0;
}

.hero-text {
    padding: 100px 0;
}

.hero-text header {
    text-transform: uppercase;
    font-family: "KlavikaMedium";
    font-size: 16px;
}

.post-date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.post-tags {
    padding-top: 30px;
}

.tags {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: "KlavikaMedium";
    font-size: 11px;
    font-weight: 500;
    margin: 4px;
    height: 30px;
    line-height: 32px;
    letter-spacing: 0.8px;
    display: inline-block;
}

.split {
    padding: 0 5px;
}

.tags:first-child {
    margin-left: 0;
}

/*==============================Blog text================================*/
main {
    padding: 100px 0 60px;
}

.blogTextWrapper {
    padding-right: 60px;
}

p {
    font-family: "Baskerville", serif;
    font-size: 18px;
    line-height: 2em;
    text-align: left;
    margin-top: 0;
}

.standoutContainer {
    border: 1px solid #e2dfdf;
    padding: 0 23px;
    width: 300px;
    float: left;
    margin-right: 30px;
}

.standoutContainer h3 {
    margin: 30px 0 10px;
}

.standoutContainer h4 {
    font-family: "KlavikaMedium", sans-serif;
    font-size: 15px;
    margin-right: 20px;
    width: 70%;
}

.separator {
    width: 300px;
    height: 1px;
    background-color: #e2dfdf;
}

.standoutContainer .row {
    height: 94px;
    align-items: center;
}

.thumb {
    height: 60px;
    width: 60px;
}

/*==============================Sidebar================================*/

.sidebar h3 {
    margin-top: 5px;
}

.downloadBtn {
    border: 1px solid #000;
    text-transform: uppercase;
    font-family: "KlavikaBold", sans-serif;
    font-size: 15px;
    height: 44px;
    line-height: 44px;
    position: relative;
    width: 100%;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;
    background-color: #fff;
    margin-top: 30px;
}

.downloadBtn img {
    height: 24px;
    display: inline;
    position: absolute;
    right: 15px;
    top: 10px;
}
.socialIcons {
    padding: 0;
}
.socialIcons li {
    list-style: none;
}

.icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-bottom: 1px solid #000;
    text-align: center;
    line-height: 50px;
}

icon:last-child {
    border-bottom: none;
}

.icon img {
    height: 20px;
}

/*==============================Footer================================*/

footer {
    color: #fff;
    padding: 40px;
}

footer .post {
    padding: 15px;
    width: calc(33.33% - 30px);
}

footer .post:first-child {
    padding-left: 0;
    width: calc(33.33% - 15px);
}

footer .post:last-child {
    padding-right: 0;
    width: calc(33.33% - 15px);
}

footer h4 {
    margin: 10px 0 20px;
    text-transform: uppercase;
    font-family: "KlavikaBold", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.imagePlaceholder {
    width: 100%;
    height: 170px;
    background-color: #ebebeb;
}

footer .post-title {
    font-family: "KlavikaLight", sans-serif;
    font-size: 23px;
    font-weight: 300;
    margin: 13px 0;
}

footer time {
    font-family: "KlavikaRegular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.footer-nav {
    margin: 100px 0 50px;
    font-size: 15px;
}

.footer-nav li {
    display: inline-block;
    padding-right: 40px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
}

/*==============================Media queries================================*/

@media (max-width: 1199px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 998px) {
    .container {
        width: 94%;
    }
    .downloadBtn {
        padding: 0 7px;
        font-size: 12px;
    }
    .downloadBtn img {
        height: 18px;
        top: 13px;
        right: 7px;
    }

    .menu a {
        font-size: 13px;
    }

    .menu li {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        flex-direction: column;
        background-color: #1e9bd7;
        padding: 10px 0;
    }
    .menu li {
        width: 100%;
        list-style: none;
        color: #fff;
        text-align: center;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        line-height: 40px;
    }

    #hamburger-icon {
        display: block;
        border: 1px solid #fff;
        padding: 5px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .sm-flex-wrap {
        flex-wrap: wrap;
    }

    .sm-flex-column {
        flex-direction: column;
    }

    .sm-100 {
        width: 100%;
    }

    .sm-offset-0 {
        padding-left: 0;
    }

    .sm-col-6-12 {
        width: calc(50% - 15px) !important;
    }

    .hero-section {
        width: 100%;
        min-height: 500px;
    }

    .menu a {
        font-size: 13px;
    }

    .menu li {
        padding: 0 10px;
    }

    h1 {
        font-size: 40px;
    }

    .hero-text {
        padding: 30px 0;
    }

    main {
        padding: 40px 0;
    }

    .downloadBtn {
        width: 170px;
    }

    .socialIcons li {
        display: inline-block;
    }

    .icon {
        border-bottom: 0;
    }

    .post:nth-child(odd) {
        padding-left: 0;
        padding-right: 15px;
        padding-bottom: 30px;
    }

    .post:nth-child(even) {
        padding-right: 0;
        padding-left: 15px;
        padding-bottom: 30px;
    }

    footer {
        padding: 20px 0;
    }

    footer .post-title {
        font-size: 20px;
    }

    footer .flex {
        text-align: center;
    }

    .blogTextWrapper {
        order: 2;
    }

    .sidebar {
        order: 1;
    }

    .menu a.active {
        border: none;
    }

    .logo {
        height: 44px;
        width: 44px;
    }

    .top-title {
        font-size: 12px;
    }
}

@media all and (max-width: 575px) {
    .xs-col-12 {
        width: 100% !important;
    }

    h1 {
        font-size: 26px;
    }

    .hero-text header {
        font-size: 14px;
    }

    .tags:nth-child(odd) {
        margin-left: 0;
    }

    main {
        padding: 20px 0;
    }

    .downloadBtn {
        margin-top: 20px;
    }

    .standoutContainer {
        width: auto;
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    footer .flex {
        flex-direction: column;
    }

    footer .post {
        padding: 0 0 30px !important;
    }

    footer .post-title {
        font-size: 18px;
    }

    .footer-nav li {
        display: block;
        text-align: center;
        padding: 5px 0;
    }

    .footer-nav {
        margin: 50px 0 20px;
    }
}
